*:hover{
   text-decoration: none;
}
.action {
   text-align: center;
   display: block;
   margin-top: 20px;
}

a.btn {
   text-decoration: none;
   color: #666;
   border: 2px solid #666;
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}

.product-img {
   width: 100%;
}
@media (min-width: 992px) {
   .col-lg-6 {
      max-width:100%;
      border: none;
   }
}
.text-success{
   color: #000000 !important;
   font-weight: 700;
}
.btn:not(:disabled):not(.disabled){
   width: 100%;
   background-color: #000000;
   border-radius: 6px;
   height: 33px;
}
.btn:not(:disabled):not(.disabled):hover{
   color: white;
}
.btn:disabled:hover{
   color: white;
}

.btn:disabled{
   width: 100%;
   background-color: #000000;
   border-radius: 6px;
   height: 33px;
}
.l-nav__link a {
   font-weight: 400;
}

.l-nav__link a:hover {
   color: black;
   text-decoration: none;
}


.btn:before {
   font-family: FontAwesome;
   font-weight: normal;
   margin-right: 10px;
}

.github:before {
   content: "\f09b"
}

.down:before {
   content: "\f019"
}

.back:before {
   content: "\f112"
}

.credit {
   background: #fff;
   padding: 12px;
   font-size: 9pt;
   text-align: center;
   color: #333;
   margin-top: 40px;

}

.text-info {
   font-size: 18px;
   color: black !important;
   font-weight: 600;
}

.credit span:before {
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}

.credit a {
   color: #333;
   text-decoration: none;
}




main {
   background: #fff;
   padding: : 20px;

}

article li {
   color: #444;
   font-size: 15px;
   margin-left: 33px;
   line-height: 1.5;
   padding: 5px;
}

article h1,
article h2,
article h3,
article h4,
article p {
   padding: 14px;
   color: #333;
}
.col-md-6 col-lg-4 col-xl-3{
   height: 450px;
}

article p {
   font-size: 15px;
   line-height: 1.5;
}
.back{
   display: flex;
   flex-direction: column;
}
.back::before{
   display: none;
}
.info{
  
   border: #cdcdcd;
   font-weight: 400;

}
.l-header__btn.is-active+.l-popup .l-popup__bg{
   border-radius: 20px;
}

@media only screen and (min-width: 1160px) {
   main {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding: 24px;
   }


}
@media only screen and (min-width: 992px) {
   .col-lg-6 {
      border-radius: 20px;
   }


}

.set-overlayer,
.set-glass,
.set-sticky {
   cursor: pointer;
   height: 45px;
   line-height: 45px;
   padding: 0 15px;
   color: #333;
   font-size: 16px;
}

.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
   font-size: 18pt;
   position: relative;
   float: right;
}

.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
   content: "\f204";
   transition: .6s;
}

.to-active:after {
   content: "\f205";
   color: #008080;
   transition: .6s;
}

.wear {
   position: absolute;
}

.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
   margin: 10px;
   background: #f2f2f2;
   border-radius: 5px;
   border: 2px solid #f1f1f1;
   box-sizing: border-box;
}

/* Syntax Highlighter*/

pre.prettyprint {
   padding: 15px !important;
   margin: 10px;
   border: 0 !important;
   background: #f2f2f2;
   overflow: auto;
}

.source {
   white-space: pre;
   overflow: auto;
   max-height: 400px;
}

code {
   border: 1px solid #ddd;
   padding: 2px;
   border-radius: 2px;
}

.shop-store {
   margin-top: 200px;
   background-color: #feffee;
}

.products {
   margin-top: 100px;
   display: flex;
   margin-left: 40px;
   gap: 10;
}

.shop__store {
   margin-left: 200px;
}