#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.first_drop{
  font-size: 20px;
}
.kbopka {
  margin-left: 35px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

#popup {
  border-radius: 20px;
  position: absolute;
  height: 93%;
  width: 93%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2;
}
.badge-pill{
text-align: center;
  font-size: 30px !important;
}
.textincard{
  text-align: center;
  color: rgb(88, 86, 86);
  margin-bottom: 35px;
  font-size: 40px;
}
.kbopka{
padding: 20px 20px;
  background-color: black;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}
.shtani{
  height: 300px;
}
