#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.first_drop {
  font-size: 20px;
}

.card_bag {
  font-size: 20px;
  text-align: center;
}

#popup {
  width: 90%;
  height: 93%;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2;
}

.textincard {
  margin-bottom: 10px;
  font-size: 15px;
}

.kbopka {
  margin-left: 35px;
  background-color: black;
  color: white;
  border-radius: 5px;
}